body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 800px;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input, textarea, select, button {
  border-radius: 6px;
}

.btn-primary {
  background-color: #0d6efd !important;
  border: none !important;
}

.cardTitle {
    color: rgb(117, 134, 233);
}